.header a {
    text-decoration: none;
    padding-right: 15px;
    color: black;
}

.header a:visited {
    color: red;
}

.header a:hover {
    color: green;
}

.active {
    background-color: aquamarine;
}